body {
    background-color: bisque;
    font-family: cursive;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    margin-top: -9px;
    margin-right: -10px;
    margin-left: -10px;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #04AA6D;
    color: black;
    font-weight: 500;
}
